<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace = "fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Location</th>
            <th>Registration</th>
            <th>No. Attendees</th>
            <th>Event Date</th>
            <th></th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"?>event id</td>
        <td th:text="${event.name}">event name</td>
        <td th:text="${event.description}">event desc</td>
        <td th:text="${event.contactEmail}">contact email</td>
        <td th:text="${event.location}">location</td>
        <td th:text="${event.regRequired}">registration required</td>
        <td th:text="${event.attendees}">attendee count</td>
        <td th:text="${event.eventDate}">event date</td>
        <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td>
    </tr>
</table>
</body>
</html>