<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace = "fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Location</th>
        </tr>
    </thead>
    <th:block th:each="eventName : ${events.keySet()}">
        <tr>
            <td th:text="${eventName}">Event Name from HashMap</td>
            <td th:text="${events.get(eventName)}">Event Description from HashMap</td>
            <td th:replace="address">Convention center address from fragment</td>
        </tr>
    </th:block>

</table>
</body>
</html>